@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-top: 200px;
}
