body {
  font-family: 'Arial', sans-serif;
  line-height: 1.3;
}

.hidden {
  display: none;
}

.card {
  background: #f4f4f4;
  border: 1px #ccc solid;
  padding: 15px;
}

.dark {
  background: #333;
  color: #fff;
}
