@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-weight: 300;
  margin-bottom: 20px;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
}

.parent div {
  list-style: none;
  margin-bottom: 10px;
}
